.header {
    height: 108px;
    position: absolute;
    width: 100%;
    transition: height .2s;
    z-index: 30;
    background-color: transparent;

    &--up {
        position: fixed;
        background-color: $tablet-bg-color;
    }
    
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }

    &__logo {
        cursor: pointer;

        path {
            fill: $primary-white;
            transition: fill .3s;
        }
    
        &:hover path {
            fill: $primary-blue;
        }
    }

    &__menu {
        width: 60%;

        ul {
            display: flex;
            justify-content: space-between;
            list-style-type: none;
        }

        &-item {
            &--hidden {
                display: none;
            }
        }
    }

    &__separator {
        display: none;
        width: 100%;
        background-color: $dark-gray;
        border: none;
        height: 3px;
    }

    &__contacts {
        display: none;
        color: $text-gray;
        font-size: 30px;
        font-weight: 300;
        width: 100%;

        &-title {
            padding: 44px 0;
        }

        &-list {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            gap: 36px;
        }
    }

    &__burger {
        display: none;
    }

    &__close {
        display: none;
    }
}

@media screen and (max-width: 1240px) {
    .header {
        background-color: $tablet-bg-color;
        padding: 44px 0;
    }

    .header__menu {
        display: none;
    }

    .header__burger {
        display: block;
        cursor: pointer;
    }

    .header__close {
        display: none;
    }

    .header--open {
        height: 100vh;
        overflow-y: scroll;
        position: fixed;
        width: 100vw;
    
        .header__wrapper {
            animation-name: dropdownContent;
            animation-duration: 1s;
            animation-fill-mode: both;
            height: unset;
        }

        .header__logo {
            display: none;
        }

        .header__close {
            display: block;
            align-self: flex-end;
            cursor: pointer;
        }

        .header__close:hover path {
            fill: $primary-blue;
        }

        .header__wrapper {
            flex-direction: column;
        }

        .header__burger {
            display: none;
        }

        .header__menu {
            display: block;
            width: 100%;
            padding: 44px 0;

            ul {
                flex-direction: column;
                gap: 84px;
            }
    
            &-item {
                width: fit-content;

                a {
                    font-size: 30px;
                }

                &--hidden {
                    display: block;
                }
            }
        }

        .header__separator {
            display: block;
        }

        .header__contacts {
            display: block;
        }
    }
}

@media screen and (max-width: 840px) {
    .header {
        background-color: $mobile-header;
    }
}

@keyframes dropdownContent {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,-100%,0);
        transform: translate3d(0,-100%,0)
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}