$primary-blue: #2D76F9;
$primary-blue-hover: #0359F3;
$primary-white: #FFFFFF;
$text-white: #EEF3FF;
$text-gray: #9AA8BA;
$text-category-hover: #303958;
$dark-gray: #2B2D3A;
$tablet-bg-color: #24252F;
$crumb-gray: #616580;
$crumb-white: #C4D2E3;
$card-mask: #090B21;
$contact-bg: #252631;
$form-error: #E83B3B;
$form-success: #8FD97D;
$mobile-header: #20212C;